//Barra de navegacion donde se muestran los botones de '+', '?' y de perfil
.navbar {
    background-color: transparent;
    display: flex;
    width: 90%;
    justify-content: flex-end;
    margin: auto;
    gap: 20px;

    //Elemento dentro del navbar
    .item {
        font-weight: bolder;
        color: white;
        display: grid;
        place-content: center;
        height: 60px;
        width: 60px;
        font-size: 30px;
        border: solid 4px rgb(30, 30, 30);
        box-shadow: 0px 0px 50px rgb(0, 0, 0);
        border-radius: 20px;
        text-decoration: none;
        background: rgb(30, 30, 30);
        transition: 333ms;
        cursor: pointer;

        //Centrado de la imagen de perfil
        &:last-child {
            background-position: center;
        }

        //Color de fondo al hacer hover en el boton '+'
        &:nth-child(1):hover {
            background: rgb(15, 15, 15);
        }

        //Color de fondo al hacer hover en el boton '?'
        &:nth-child(3):hover {
            border-color: rgba(249, 249, 249, 0.8);
        }
    }
}

//Contenedor de las recetas 'destacadas'
.special {
    width: 80vw;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: auto;
    background-color: transparent;
    padding: 40px;
    overflow-x: auto;
    gap: 40px;
    transition: 333ms;

    &::-webkit-scrollbar {
        height: 5px;
    }

    a {
        text-decoration: none;
        height: 40rem;
        min-width: 100%;
        transition: 333ms;
        border: solid 4px rgb(22, 22, 22);
        box-shadow: 0px 0px 50px rgb(0, 0, 0);
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        background-position: center;
        background-size: cover;

        .title {
            font-size: 2rem;
        }

        &:hover {
            border-color: rgba(249, 249, 249, 0.8);
        }
    }
}


.title, .text {
    margin: 20px;
    text-align: center;
    transition: 333ms;
}

.text {
    color: rgb(150, 150, 150);
}

.title {
    margin: 0;
    color: rgb(255, 255, 255);
}

//Contenedor donde se organizan los bloques
.wrapper {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin: auto;
    gap: 20px;

    //Contenedor de bloque de enlace
    .item {
        display: grid;
        place-content: center;
        height: 130px;
        font-size: 50px;
        border: solid 4px rgb(22, 22, 22);
        box-shadow: 0px 0px 50px rgb(0, 0, 0);
        border-radius: 20px;
        text-decoration: none;
        background-color: rgb(12, 12, 12);
        transition: 333ms;
        cursor: pointer;

        //Efecto de cambio de color en el borde
        &:hover {
            border-color: rgba(249, 249, 249, 0.8);
        }
    }
}

.modalOpen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 333ms;

    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    div {
        max-width: 50vw;
        min-width: 50vw;
        max-height: 95vh;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgb(30, 30, 30);
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        overflow-x: auto;

        a {
            font-weight: bolder;
            color: rgb(0, 0 ,0);
            display: grid;
            place-content: center;
            height: 20px;
            width: 20px;
            padding: 20px;
            font-size: 30px;
            border: solid 4px transparent;
            border-radius: 20px;
            text-decoration: none;
            background: rgb(30, 30, 30);
            transition: 333ms;
            cursor: pointer;

            &:hover {
                color: rgb(255, 255, 255);
            }
        }
    }
}

.content {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}