.modalwindow {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 333ms;

    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    
    div {
        width: 500px;
        height: 400px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(0, 0, 0);

        @media ( max-width: 400px ) {
            width: 100vw;
            height: 100vh;
        }
    }
}

.modalclose {
    color: rgba(249, 249, 249, 0.8);
    font-size: 25px;
    text-decoration: none;
}
  